#AppHeader-container {
  height: 100%;
}

#Main-box {
  height: 90%;
}

#AppBar {
  #logo {
    font-size: 25px;
    color: #ffffff;
    text-decoration: none;
    margin: auto;
    transform: translateX(-40%);
  }

  #my-profile {
    font-size: 20px;
    color: #ffffff;
    text-decoration: none;
    margin-right: 10px;
    margin-left: 2%;

    img {
      width: 40px;
      height: 40px;
      margin-right: 10px;
      display: flex;
      align-items: center;
      border-radius: 50%;
      border: 0px solid #fff;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    }
  }

  #chat-button {
    color: #ffffff;
  }

  #skeleton-my-profile {
    margin-left: 2%;

    .skeleton-img {
      width: 35px;
      height: 35px;
      margin-right: 5px;
    }

    .skeleton-nickname {
      height: 30px;
      width: 100px;
      border-radius: 5px;
    }
  }

  .disabled {
    color: cornflowerblue;
  }
}

#FriendDrawer {
  #padding {
    height: 8%;
  }

  #header {
    height: 5%;
    row-gap: 5;
    font-size: 20px;

    button {
      margin-right: 5%;
    }
  }

  #body {
    height: 80%;

    .logout {
      opacity: 0.3;
    }
  }

  .skeleton-img {
    width: 35px;
    height: 35px;
    margin-right: 5px;
  }

  .skeleton-nickname {
    height: 30px;
    width: 80px;
    border-radius: 10%;
  }
}
