.chat-container {
  width: 400px;
}

.chat-gap {
  margin-bottom: 20px;
}

.chatting-box {
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 10px;
  background-color: #c8d9f0;
}

.users-box {
  margin-bottom: 20px;
  border: 1px solid #c8d9f0;
  border-radius: 10px;
}
