$ChattingDrawerWidth: 500px;

#ChattingDrawer {
  width: $ChattingDrawerWidth;
  height: 100%;
  flex-shrink: 0;

  & .MuiDrawer-paper {
    width: $ChattingDrawerWidth;
  }

  #header {
    height: 5%;
    font-size: 20px;

    #title {
      flex-grow: 1;
    }
  }

  #body {
    height: 90%;
    padding: 3%;

    #modal {
      height: 100%;
      padding: 3%;

      .modal-header {
        height: 10%;
        justify-content: space-between;
        font-size: 25px;
      }

      .modal-body {
        height: 80%;
        row-gap: 3%;
        margin-top: 5%;
        flex-direction: column;
        align-items: normal;
        justify-content: normal;
      }

      .modal-footer {
        height: 10%;

        button {
          width: 80%;
        }
      }

      .red {
        color: red;
      }

      .message {
        font-size: 20px;
        align-items: center;
        justify-content: center;
      }
    }

    #page {
      height: 100%;
      padding: 3%;

      .page-header {
        height: 10%;
        font-size: 20px;
      }

      .page-body {
        height: 80%;
        display: flex;
        flex-direction: column;

        .list {
          height: 90%;
        }

        .pagination {
          height: 10%;
        }
      }

      .page-footer {
        height: 10%;
        column-gap: 2%;

        .big {
          width: 70%;
        }

        .small {
          width: 33%;
        }
      }

      .users-box {
        height: 100%;
        margin-bottom: 20px;
        border: 1px solid #c8d9f0;
        border-radius: 10px;
      }

      .chatting-box {
        margin-bottom: 20px;
        border: 1px solid transparent;
        border-radius: 10px;
        background-color: #c8d9f0;

        .chatting-display {
          height: 90%;
          padding: 5%;
        }

        .chatting-input {
          height: 10%;
          justify-content: space-around;
        }

        .input {
          width: 80%;
        }
      }
    }

    #card {
      // height: 110px;

      height: 18%;
      cursor: pointer;
      justify-content: space-around;
      margin-bottom: 2%;
      &:hover {
        border: 3px solid skyblue;
      }

      .title {
        // height: 50%;
        // width: 50%;
        font-size: 20px;
        margin-bottom: 0.5px;
        word-break: break-all;
      }

      .content {
        // height: 30%;
        display: flex;
        align-items: center;
        font-size: 12px;
        column-gap: 3%;
        padding-bottom: 1%;

        svg {
          width: 20px;
          height: 20px;
          margin-right: 5px;
        }

        .divider {
          color: lightgray;
        }
      }
    }

    #password-form {
      height: 18%;
      flex-direction: row;
      justify-content: space-around;
      margin-bottom: 2%;
      background-color: #aaaaaa;

      .content {
        column-gap: 3%;
        width: 100%;

        .input {
          width: 50%;
        }

        .submit {
          font-size: 13px;
        }

        .cancel {
          background-color: white;
          color: blue;
          font-size: 13px;
        }
      }
    }
  }
}
