html,
body,
#root {
  height: 100%;
  width: 100%;
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.flex-wrap-container {
  display: flex;
  flex-wrap: wrap;
}

.direction-column {
  flex-direction: column;
}

.justify-flex-start {
  justify-content: flex-start;
}

.justify-center {
  justify-content: center;
}

.overflow {
  overflow: overlay;
}

.fixed-center {
  margin-left: 50%;
  transform: translateX(-50%);
}

.profile-img {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  border-radius: 50%;
  border: 0px solid #fff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.profile-preview-img {
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  border-radius: 50%;
  border: 0px solid #fff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.modal {
  width: 500px;
  height: 500px;

  .outframe {
    padding: 5%;
    height: 100%;
  }

  .right {
    margin-left: auto;
  }

  .red {
    color: red;
  }

  #create {
    .header {
      height: 10%;
      font-size: 25px;
    }

    .body {
      align-items: normal;
      justify-content: normal;
      flex-direction: column;
      height: 80%;
      row-gap: 5%;
      padding-top: 10%;
    }

    .footer {
      height: 10%;

      button {
        width: 80%;
      }
    }
  }

  #inform {
    .header {
      height: 10%;
      font-size: 25px;
    }

    .body {
      flex-direction: column;
      height: 80%;
      row-gap: 5%;

      span,
      b {
        font-size: 20px;
      }
    }

    .footer {
      height: 10%;

      button {
        width: 80%;
      }
    }
  }

  #two-factor {
    .header {
      height: 10%;
      font-size: 25px;
    }

    .body {
      flex-direction: column;
      height: 80%;
      row-gap: 5%;

      span,
      b {
        font-size: 15px;
      }

      .content {
        display: flex;
        flex-direction: column;
      }
    }

    .footer {
      height: 10%;

      button {
        width: 80%;
      }
    }
  }

  #edit {
    .header {
      height: 10%;
      font-size: 25px;
    }

    .body {
      flex-direction: column;
      align-items: normal;
      justify-content: flex-start;
      height: 80%;
      row-gap: 5%;

      span,
      b {
        font-size: 15px;
      }

      #new-nickname {
        display: flex;
        flex-direction: column;
        row-gap: 15%;
        margin-top: 10%;

        .title {
          display: flex;
          align-items: center;
          width: 20%;
        }

        .input {
          width: 80%;
          margin: 0 auto;
        }

        .inform {
          font-size: 12px;
          margin: 10px auto;
        }

        .success {
          color: blue;
        }

        .fail {
          color: red;
        }

        button {
          width: 50%;
          margin: 0 auto;
        }
      }

      #new-image {
        display: flex;
        flex-direction: column;
        row-gap: 15%;
        margin-top: 10%;

        .title {
          display: flex;
          align-items: center;
          width: 30%;
        }

        .input {
          width: 70%;
          margin: 0 auto;
        }

        .preview {
          flex-direction: column;
          width: 80%;
          margin: 30px auto;

          img {
            width: 150px;
            height: 150px;
          }
        }

        button {
          width: 50%;
          margin: 0 auto;
        }

        .inform {
          font-size: 12px;
          margin: 10px auto;
        }
      }
    }

    .footer {
      height: 10%;

      button {
        width: 80%;
      }
    }
  }

  #first-register {
    .header {
      height: 10%;
      font-size: 25px;
    }

    .body {
      height: 80%;

      span,
      b {
        font-size: 15px;
      }

      #preview {
        width: 50%;
        height: 40%;
        margin: 0 auto;

        .big-font {
          font-size: 30px;
        }
      }

      #register-form {
        height: 50%;
        column-gap: 5%;

        #new-nickname {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          height: 100%;

          .title {
            display: flex;
            align-items: center;
            width: 20%;
          }

          .input {
            width: 90%;
            margin: 0 auto;
          }

          .inform {
            font-size: 15px;
            margin: 10px auto;
          }

          .success {
            color: blue;
          }

          .fail {
            color: red;
          }

          button {
            width: 50%;
            margin: 0 auto;
          }
        }

        #new-image {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          height: 100%;

          .title {
            display: flex;
            align-items: center;
            width: 30%;
          }

          .input {
            width: 100%;
            margin: 0 auto;
          }

          button {
            width: 50%;
            margin: 0 auto;
          }

          .inform {
            font-size: 15px;
            margin: 10px auto;
          }
        }
      }
    }

    .footer {
      height: 10%;

      button {
        width: 80%;
      }
    }
  }
}

#error {
  position: fixed;
  width: 800px;
  left: 50%;
  top: -10%;
  transform: translateX(-50%);
  animation-duration: 0.5s;
  animation-name: slidedown;
  animation-iteration-count: 1;
  animation-direction: alternate;
  animation-fill-mode: forwards;
  z-index: 5;

  @keyframes slidedown {
    from {
      top: -10%;
    }

    to {
      top: 1%;
    }
  }

  @keyframes slideup {
    from {
      top: 1%;
    }

    to {
      top: -10%;
    }
  }

  .container {
    display: flex;
    width: 100%;
    flex-direction: column;
    margin: 0 auto;

    .warning {
      margin: 0 1%;
    }
  }
}

#success {
  position: fixed;
  width: 800px;
  left: 50%;
  top: -10%;
  transform: translateX(-50%);
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-direction: alternate;
  animation-fill-mode: forwards;
  z-index: 5;

  @keyframes slidedown {
    from {
      top: -10%;
    }

    to {
      top: 1%;
    }
  }

  @keyframes slideup {
    from {
      top: 1%;
    }

    to {
      top: -10%;
    }
  }

  .container {
    display: flex;
    width: 100%;
    flex-direction: column;
    margin: 0 auto;

    .check {
      margin: 0 1%;
    }
  }
}

#result {
  position: fixed;
  width: 800px;
  left: 50%;
  top: -10%;
  transform: translateX(-50%);
  animation-duration: 0.5s;
  animation-name: slidedown;
  animation-iteration-count: 1;
  animation-direction: alternate;
  animation-fill-mode: forwards;
  z-index: 5;

  @keyframes slidedown {
    from {
      top: -10%;
    }

    to {
      top: 1%;
    }
  }

  @keyframes slideup {
    from {
      top: 1%;
    }

    to {
      top: -10%;
    }
  }

  .container {
    display: flex;
    width: 100%;
    flex-direction: column;
    margin: 0 auto;

    .result {
      margin: 0 1%;
    }
  }
}

.big-modal {
  width: 800px;
  height: 800px;
}

.empty-list {
  height: 100%;
  color: darkgray;
}
