html,
body,
#root {
  height: 100%;
  width: 100%;
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.flex-wrap-container {
  display: flex;
  flex-wrap: wrap;
}

.direction-column {
  flex-direction: column;
}

.overflow {
  overflow: auto;
}

.fixed-center {
  margin-left: 50%;
  transform: translateX(-50%);
  margin-right: auto;
}

.profile-img {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  border-radius: 50%;
  border: 0px solid #fff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.modal {
  width: 500px;
  height: 500px;

  .outframe {
    padding: 5%;
    height: 100%;
  }

  .right {
    margin-left: auto;
  }

  #create {
    .header {
      height: 10%;
      font-size: 25px;
    }

    .body {
      align-items: normal;
      justify-content: normal;
      flex-direction: column;
      height: 80%;
      row-gap: 5%;
      padding-top: 10%;
    }

    .footer {
      height: 10%;

      button {
        width: 80%;
      }
    }
  }

  #inform {
    .header {
      height: 10%;
      font-size: 25px;
    }

    .body {
      flex-direction: column;
      height: 80%;
      row-gap: 5%;

      span,
      b {
        font-size: 20px;
      }
    }

    .footer {
      height: 10%;

      button {
        width: 80%;
      }
    }
  }
}

.empty-list {
  height: 100%;
  color: darkgray;
}
